<div class="main-grid">
  <div class="col-1-17 row-2-9 flex flex--column center">
    <div class="body">
      <img class="logo" src="/assets/images/mustard-black-circle-logo.png" alt="logo-icon">
      <p><strong>DON&#700;T FORGET TO TAKE YOUR RECEIPT BELOW</strong></p>
    </div>
  </div>
  <div class="col-1-17 row-10-19 flex flex--column center">
    <!--    <picture class="circle">-->
    <div class="numberCircle">{{orderNumber}}</div>
  </div>
  <div class="col-1-17 row-20-29 flex flex--column center">
    <div class="body">
      <div>
        <p>PLEASE PICK UP YOUR ORDER FROM THE COLLECTION POINT</p>
      </div>
    </div>
  </div>
</div>
