.logo {
  width: 230px;
  margin: 0 auto 40px auto ;
}

.numberCircle {
border-radius: 50%;
width: 400px;
height: 400px;
padding: 160px 10px;
background: #fff;
border: 10px solid #666;
color: var(--accent);
text-align: center;
font-size: 130rem;
}
