.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  .header {
    height: 300px;
    margin-top: 50px;
    font-size: 40px;

    p {
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      font-family: "GothamBook";

      .pink {
        color: var(--accent);
      }
    }

    .button-wrapper {
      display: flex;
    }

    .general-button {
      border: 1px solid var(--accent2);
      text-align: center;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-family: "GothamBlack";
      width: 100%;

      &.selected {
        color: white;
        background-color: var(--accent2);
      }
    }
  }

  .body {
    height: 1450px;
    margin-top: 300px;
    font-size: 16px;
    display: grid;
    grid-template-rows: auto 1fr;

    p {
      font-size: 40px;
      text-align: center;
      font-family: 'Fresh-Daily';
      text-transform: uppercase;
      padding: 50px 0;
      margin: 0;

      .pink {
        color: var(--accent);
      }
    }

    .buzzer-keyboard-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 900px;
      overflow: hidden;
    }

    .buzzer {
      text-align: center;
      position: relative;

      .table-number {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        font-family: "GothamBlack";
        color: var(--accent);
      }

      img {
        height: 100%;
      }
    }

    .keyboard {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 0 25px;

      .key {
        text-align: center;
        width: 120px;
        height: 120px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      // grid-auto-rows: minmax(100px, auto);
      .button-wrapper {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 5;
        text-align: center;

        button {
          padding: 5px 0;
          width: 100%;
          height: 100px;
          color: white;
          background: var(--accent);
          font-family: "Flama Light";
          text-transform: uppercase;
          font-size: 40px;

        }
      }
    }
  }
  .selection-footer {
    height:160px;
    display: block;
    bottom: 0;

  }
}
.table-number-wrapper {
  bottom: 270px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  .table-number {
    font-size: 6em;
  }
}


.button-wrapper {
  button {
    background-image: url("/assets/images/Enter.png")!important;
    background-color: transparent!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    &.active {
      background-image: url("/assets/images/Enter-active.png")!important;
    }
  }
}

.body {
  p {
    font-family: "GothamBold" !important;
    font-weight: bold;
    font-size: 4em!important;
  }
}

#buzzer {
  font-family: "Sinzano Regular"!important;
  font-size: 1.4em;
}

#buzzer2 {
  font-family: "Sinzano Regular"!important;
  font-size: 6em;
}
