.container {
  height: 100%;
  width: 100%;
}
div.title {

  font-size: 50px;
  text-align: center;
  margin: 70px 0;
}
div.allergen-img {
  margin: 20px;
  padding: 5px;
  height: 70%;
}

div.wrapper {
  margin: 10px 0;
}

div.footer {
  margin-top: 200px;
  margin-bottom: 0;
  height: 15%;
}


