<!--<div class="main-grid table-service">-->
<!--  <section class="col-1-17 row-1-10 flex flex&#45;&#45;column center">-->
<!--    <img class="logo" src="./assets/branding/logo.png" alt="" />-->
<!--  </section>-->
<!--  <section class="flex flex&#45;&#45;column center row-10-22" [ngClass]="!isAdaEnabled() ? 'col-2-16' : 'col-3-15'">-->
<!--    <div class="square full flex center justify&#45;&#45;between">-->
<!--			<div class="grid cols&#45;&#45;2">-->
<!--				<h3 class="color&#45;&#45;white">{{ '83' | dotTranslate}}</h3>-->
<!--				<img class="table-service__flag" src="./assets/images/table-service-flag-receipt.png" alt="">-->
<!--			</div>-->
<!--    </div>-->
<!--  </section>-->
<!--	<section class="col-3-15 row-24-28 flex flex&#45;&#45;column center">-->
<!--		<h2 class="text&#45;&#45;center">{{ '84' | dotTranslate}}</h2>-->
<!--	</section>-->
<!--</div>-->



<div class="main-grid">
  <div class="col-1-17 row-2-9 flex flex--column center">
    <div class="body">
      <p>WE&#700;LL BUZZ YOU <span class="pink">WHEN IT&#700;S READY</span><br>
        <span class="sub">Your buzzer will buzz when it&#700;s ready for you<br>to collect at the counter</span>
        <br><strong>DON&#700;T FORGET TO TAKE YOUR RECEIPT BELOW</strong></p>
    </div>
  </div>
  <div class="col-1-17 row-10-19 flex flex--column center">
    <!--    <picture class="circle">-->
    <div class="buzzer-keyboard-wrap">
      <div class="buzzer">
        <img class="circle__img pos--img" src="./assets/images/buzzer-active.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-1-17 row-20-29 flex flex--column center">
    <div class="body">
      <div>
        <p>YOU&#700;RE AWESOME <span class="pink">DON&#700;T FORGET IT</span></p>
        <img  src="./assets/images/img.PNG" alt="">
      </div>
    </div>
  </div>
</div>
