//@font-face {
//  font-family: "Flama Black";
//  src: url("../fonts/FlamaCondensed-Black.woff");
//  font-style: normal;
//}
//
//@font-face {
//  font-family: "Flama Light";
//  src: url("../fonts/FlamaCondensed-Light.woff");
//  font-style: normal;
//}
//
//@font-face {
//  font-family: "Flama Medium";
//  src: url("../fonts/FlamaCondensed-Medium.otf");
//  font-style: normal;
//}

//@font-face {
//  font-family: 'Fresh-Daily';
//  src: url('../fonts/Fresh-Daily.eot');
//  src: url('../fonts/Fresh-Daily.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Fresh-Daily.woff2') format('woff2');
//  font-weight: normal;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'FreshDaily';
//  src: url('../fonts/FreshDaily.ttf') format('truetype'),
//       url('../fonts/FreshDaily.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

// new fonts

@font-face {
  font-family: "Fresh-Daily";
  src: url("../fonts/Fresh-Daily.otf");
  font-style: normal;
}

@font-face {
  font-family: "Flama Black";
  src: url("../fonts/Greycliff-CF-Extra-Bold.otf");
  font-style: normal;
}
@font-face {
  font-family: "Flama Medium";
  src: url("../fonts/Greycliff-CF-Extra-Bold.otf");
  font-style: normal;
}

@font-face {
  font-family: "Flama Light";
  src: url("../fonts/Greycliff-CF-Regular.otf");
  font-style: normal;
}

/// New Fonts

@font-face {
  font-family: "GothamLight";
  src: url("../fonts/Gotham-Light.otf");
  font-style: normal;
}
@font-face {
  font-family: "GothamBlack";
  src: url("../fonts/GothamBlack.woff");
  font-style: normal;
}
@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.woff");
  font-style: normal;
}
@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.woff");
  font-style: normal;
}
@font-face {
  font-family: "Sinzano Regular";
  src: url("../fonts/Sinzano-Regular.woff");
  font-style: normal;
}


